

:root {
   --Logo: 10vh;
  --Form: 10vh;
  /* --packing-List: calc(100vh - calc(var(--Logo)+ var(--Form) + var(--footer))); */
  /* --packing-List: calc(var(--screen-height) - calc(var(--Logo) + var(--Form) + var(--footer))); */
  --packing-List:65vh;
   --footer:5vh;
   box-sizing: border-box;
}

/* css rule for the body and html */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* styling for the entire application */
App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

 /* The first section of the page */

.logos{
   text-align: center;
   color: red;
   position: static;
   background-color: green;
   height: var(--Logo);
   margin-top: 0;
   margin-bottom: 0;


}


/* The form to add data to the List */
.Addform {
  margin-top: 0;
  display: flex;
  background-color: #f0f0f0;
  padding: 10px;
  height: var(--Form);
  border-radius: 10px;
}

/* ADD FORM FORM OPTIONS */
 

/* The list containing the data added via the form */
.List {
  background-color: brown;
  padding: 20px;
  border-radius: 1px;
  height:var(--packing-List);
 }

 /* Styling for the footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: black;
  padding: 10px;
  text-align: center;
  background-color: darkturquoise;
  height: var(--footer);
}

/* Styling for the buttons */

button{
  text-decoration: none;
  color: white;
  background-color: green;
  margin-left: 33px;
}