body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Logo > h1{
   text-align: center;
}

.Logo {
  font-size: 2em;
  margin-bottom: 20px;
}

.Addform {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.List {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
