

:root {
  --screen-height: 100vh; /* Set the total height of the screen */
}

/* css rule for the body and html */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* styling for the entire application */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

 /* Heading one fr the first section of the page */

.logos{
   text-align: center;
   color: red;
}

/* The first secetion of the page */
.Logo {
  font-size: 2em;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
}

/* The form to add data to the List */
.Addform {
  display: flex;
  background-color: #f0f0f0;
  /* padding: 20px; */
  height: 100px;
  border-radius: 10px;
}

/* The list containing the data added via the form */
.List {
  background-color: brown;
  padding: 20px;
  border-radius: 1px;
  margin-bottom: 0;
  height: 450px;
 }

 /* Styling for the footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: black;
  padding: 10px;
  text-align: center;
  background-color: darkturquoise;
}

/* Styling for the buttons */

button{
  text-decoration: none;
  color: white;
  background-color: green;
  margin-left: 33px;
}